<!DOCTYPE html>
<html lang="en">
  <head>
<%-include('./includes/head', {title:"Page Not Found"}) %>
  </head>
  <body>
    <header>
      <%- include('./includes/header') %>
    </header>
    <main>
      <h1>Too Many Request, Please try after a minute!</h1>
    </main>
  </body>
</html>
