<!DOCTYPE html>
<html lang="en">
  <head>
<%-include('./includes/head', {title:"Server Side Error"}) %>
  </head>
  <body>
    <header>
      <%- include('./includes/header') %>
    </header>
    <main>
      <h1>Opps! Something Went Wrong On the Server!</h1>
      <p id="server-error">We will try to fix it as soon as possible!</p>
    </main>
  </body>
</html>
