<%- include('./includes/header') %>
    <main>
        <h1>Add an new post</h1>
        <form action="/posts/create" method="POST">
            <div>
                <label for="title">Title</label>
                <input required type="text" name="title" id="title">
            </div>
            <div>
                <label for="summary">Summary</label>
                <input required type="text" name="summary" id="summary">
            </div>
            <div>
                <label for="content">Post Content</label>
                <textarea required name="content" id="content"></textarea>
            </div>
            <div>
                <label for="author">Select Author</label>
                <select name="author_id" id="author">
                    <option value="1">Admin</option>
                    <option value="2">Rasoul Naseri</option>
                    <option value="3">Guest</option>
                </select>
            </div>
            <div>
                <button>Add Post</button>
            </div>
        </form>
    </main>    
</body>
</html>