<!DOCTYPE html>
<html>
<head>
    <%- include('./includes/head', {title:"create Post"}) %>
</head>
<body>
    
<header>
    <%-include('./includes/header') %>
</header>
    <main>
        <h1>Add a new post</h1>
        <form action="/posts/create" method="POST" id="form">
            <div class="form-control">
                <label for="title">Title</label>
                <input required type="text" name="title" id="title">
            </div>
            <div class="form-control">
                <label for="summary">Summary</label>
                <input required type="text" name="summary" id="summary">
            </div>
            <div class="form-control">
                <label for="the-post-content">Post Content</label>
                <textarea required name="content" id="the-post-content"></textarea>
            </div>
            <div class="form-control">
                <label for="author">Select Author</label>
                <select name="author_id" id="author">

                    <% for(const author of authors) { %>

                        <option value="<%= author.id %>"><%= author.full_name %></option>

                        <% } %>

                </select>
            </div>
            <div class="form-control">
                <button>Add Post</button>
            </div>
        </form>
    </main>    
</body>
</html>