<%-include('./includes/header') %>
<main>
    <h1>All Posts</h1>

    <% if (allPosts.length > 0) { %>
    <ul>
        <% for (const post of allPosts) { %>

        <li>
            <%- include('./includes/post', {post}) %>
        </li>
    <% } %>
    </ul>
  <% } else { %>
    
    <p>There is no post yet, maybe create some here : <a href="">create post</a></p>

    <% } %>
    
</main>
    
</body>
</html>