<%-include('./includes/header') %>
<main>
    <h1>All Posts</h1>

    <ul>
        <li>

                <article>
        <div>
            <title>All Posts</title>
            <p>By</p>
            <p></p>
        </div>
        <div>
            <ul>
                <li><button>Delete Post</button></li>
                <li><button>Edit Post</button></li>
                <li><button>View Post</button></li>
            </ul>
        </div>
    </article>

        </li>
    </ul>

</main>
    
</body>
</html>