main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-content-text-color);
    font-size: var(--text-font-size );
    margin-top: 3rem;
    gap: 2rem;
}


h1 {
    font-size: var(--h1-font-size);
}

title {
    font-size: var(--title-font-size);
}